.topbar{
    background: linear-gradient(to bottom, #5a6a7e,#9dbee6,#f1f8ff );
    padding: 80px;
}

.home{
    color: black;
}

.publication{
    text-align: center;
    
}

.publication a{
    display: block;
    margin-top: 30px;
}

.nav{
    float: right;
    
    font-size: 30px;
}

.link{
    padding: 20px;
    margin-top: -30px;
}