/* Top and Bottom Navigation */
.topbar {
    background: linear-gradient(to bottom, #5a6a7e, #9dbee6, #f3f3f3);
    padding: 60px;
    margin-bottom: -8px;
}

.footer{
    background: linear-gradient(to top, #5a6a7e, #9dbee6, #e7ebee);
    padding-top: 100px;
    margin-left: -12px;
    font-size: x-large;
    margin-top: auto;
}

/* Background control */
.background{
    background-image: url('../images/chem structure background.jpg');
    background-size: auto;  
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}



/* Font control from Google Fonts */
.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 700;
    font-style: normal;
}

.home {
    color: black;
}

/* Publication Page Link Control */
.publicationleft {
    text-align: center;
    margin-top: 30px;
}

.publication a {
    display: block;
    text-decoration: none;
    
}



/* Styling for Navigation Controls on Top Right of page */
.nav {
    float: right;
    font-size: 30px;

}
.servnav{
    text-align: center;
    padding-top: 20px;
    
}

.link {
    padding: 10px;
    background: none;
    border: 2px solid transparent;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.btn{
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: -30px;
}

.custombtn:hover{
    background-color: #4e87b6;
    color: rgb(228, 240, 255);
}


/* Business Development Page Styling */
.busdev{
    text-align: left;
    font-weight: 600;
    padding-top: 40px;
}
.busdevright{
    text-align: right;
    font-weight: 600;
    padding-top: 40px;
    padding-right: 20%;
}

.busheader{
    font-size: 30px;
    text-decoration: underline;
}

.busheaderright{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin-left: 50%;
}

.servcard{
    width: 40%;
    height: 200px;
    margin: 50px;
    border-color: black;
    border-style: ridge;
    border-width: 8px;
    text-align: center;
    
}

.card-container{
    margin-left: 10%;
}

.cardleft{
    width: 50%;
    margin-left: 45%;
    margin-bottom: 10%;
    margin-top: 10%;
    border-color: #768aa1;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
}

.cardright{
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
    border-color: #5a6a7e;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
}