/* Top and Bottom Navigation */
.topbar {
    background: linear-gradient(to bottom, #5a6a7e, #9dbee6, #f3f3f3);
    padding: 60px;
    margin-bottom: -8px;
}

.footer{
    background: linear-gradient(to top, #5a6a7e, #9dbee6, #e7ebee);
    padding-top: 100px;
    margin-left: -12px;
    font-size: x-large;
    margin-top: auto;
}

/* Background control */
.background{
    background-image: url('../images/chem structure background.jpg');
    background-size: auto;  
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}



/* Font control from Google Fonts */
.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 700;
    font-style: normal;
}

.home {
    color: black;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* Publication Page Link Control */
.publicationleft {
    text-align: center;
    margin-top: 30px;
}

.publication a {
    display: block;
    text-decoration: none;
    
}



/* Styling for Navigation Controls on Top Right of page */
.nav {
    float: right;
    font-size: 30px;

}
.servnav{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.link {
    padding: 10px;
    background: none;
    border: 2px solid transparent;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.btn{
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: -30px;
}

.custombtn:hover{
    background-color: #3d6383;
    color: rgb(228, 240, 255);
}


/* Business Development Page Styling */
.busdev{
    text-align: left;
    font-weight: 600;
    padding-top: 40px;
}
.busdevright{
    text-align: right;
    font-weight: 600;
    padding-top: 40px;
    padding-right: 20%;
}

.busheader{
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 3px 0px 10px #585858;
    color: #182a5a;
}

.busheaderright{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.busleft{
    margin-left: 10%;
    padding-top: 30px;
    font-size: 20px;
}

.busright{
    margin-left: 40%;
    padding-top: 30px;
    font-size: 20px;
}

/* Publications Styling */
.card-container{
    margin-left: 10%;
}

.cardleft{
    width: 60%;
    margin-left: 40%;
    margin-top: 5%;
    border-color: #8fa3bb;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    background-color: #94aac5;
}

.cardright{
    width: 60%;
    margin-left: 6%;
    margin-top: 30%;
    border-color: #8fa3bb;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    background-color: #94aac5;
}

.cardimg{
    width: 60%;
}

.cardimgright{
    width: 70%;
}

/* Services Underline button control Testing*/
.button{
    background:transparent;
    border: none;
    margin: 20px auto 0;
    color: black;
    font-size: 18px;
    outline: none;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
    padding: 10px;
    white-space: nowrap;
}
  .button:before{
        content: '';
        border-bottom: 3px solid black;
        padding: 0 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        transition: 0.3s;
  }
    .button:hover:before{
        width: 100%;
        padding: 20px;
    } 
    
.button:active{
        background: black;
        color: white;
        transition: none;
        }

.button span{
    display: inline-block;
}




/* Testing button Below */
.button-30 {
  padding-bottom: 6px;
  align-items: center;
  appearance: none;
  background-color: #7094c0;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 1) 0 1px 3px,rgba(45, 35, 66, 0.3) 0 7px 13px 2px,#78787a 0 -3px 0 inset;
  box-sizing: border-box;
  color: #020202;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 18px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-right: 10px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.5) 0 6px 12px, rgba(45, 35, 66, 0.4) 0 10px 20px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: #D6D6E7;
  }
  

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.btnfont{
    font-size: 18px;
}